.privacy-security-container {
    background-color: slategrey;
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.6;
    color: lightgrey;
  }
  
  section {
    background-color: grey;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  section:hover {
    background-color: black;
    transition: background-color 0.3s ease;
  }
  
  .privacy-security-container p:last-child {
    text-align: center;
  }
  